name: Playwright Tests

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      # -----------------------------
      # CHECKOUT
      # -----------------------------
      - name: Checkout repository
        uses: actions/checkout@v3

      # -----------------------------
      # NODE SETUP
      # -----------------------------
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      # -----------------------------
      # INSTALL PROJECT PACKAGES
      # -----------------------------
      - name: Install dependencies
        run: npm ci

      # -----------------------------
      # INSTALL PLAYWRIGHT BROWSERS
      # -----------------------------
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      # -----------------------------
      # RUN PLAYWRIGHT TESTS (HEADLESS)
      # -----------------------------
      - name: Run Playwright Tests (Headless)
        run: npx playwright test tests/01_mob_home/mobHomePage.spec.js --headless

      # -----------------------------
      # SEND TEST REPORT EMAIL
      # -----------------------------
      - name: Send Test Report Email
        run: node .vscode/sendMail.js
        env:
          EMAIL_USER: ${{ secrets.EMAIL_USER }}
          EMAIL_PASS: ${{ secrets.EMAIL_PASS }}
          EMAIL_TO: ${{ secrets.EMAIL_TO }}
          EMAIL_SECURE: ${{ secrets.EMAIL_SECURE }}
          EMAIL_HOST: ${{ secrets.EMAIL_HOST }}
          EMAIL_PORT: ${{ secrets.EMAIL_PORT }}
